<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
      function graficar() {
        var guardado = {% autoescape off %}{{ result.Runge }}{% endautoescape %};
        var guardado2 = {% autoescape off %}{{ result.Bogacki }}{% endautoescape %};
        var i = 0;
        var residualLocal = [8, 4, 8, 6, 18, 13, 15, 14, 22, 28, 48, 44, 43, 35, 50, 53, 47, 39, 35, 53, 44, 38, 64, 61, 53, 63, 51, 48, 48, 44, 43, 35, 48, 57, 61, 47, 32, 42, 47, 30, 25, 23, 13, 20, 15, 14, 8, 12, 12, 7, 3, 5, 2, 1, 1, 2, 9, 6, 10, 1, 2, 2, 3, 2, 2, 5, 2, 1, 3, 7, 5, 2, 4, 2, 3, 2, 1, 1, 2, 2, 0, 0, 2, 2, 3, 1, 6, 1, 9, 8, 3, 3, 2, 2, 2, 8, 6, 3, 3, 6, 2, 1, 2, 0, 3, 1, 6, 0, 1, 6, 3, 3, 2, 1, 3, 2, 1, 3, 3, 0, 1, 2, 1, 1, 10, 4, 2, 1, 2, 1, 2, 2, 3, 3, 2, 3, 5, 3, 3, 9, 4, 4, 10, 9, 15, 7, 9, 7, 5, 2, 4, 2, 3, 7, 7, 11, 4, 6, 3, 6, 9, 11, 4, 6, 7, 7, 6, 12, 8, 9, 10, 9, 11, 5, 12, 17, 8, 2, 3, 11, 9, 5, 8, 8, 15, 6, 8, 11, 16, 7, 9, 6, 3, 10, 11, 8, 16, 13, 13, 5, 9, 7, 13, 8, 2, 5, 11, 7, 8, 6, 8, 7, 7, 7, 7, 14, 9, 13, 8, 8, 7, 5, 3, 1, 4, 7, 2, 4, 3, 7, 7, 5, 5, 6, 5, 9, 14, 18, 20, 22, 19, 36, 24, 30, 36, 21, 31, 18, 25, 21, 13, 17, 20, 11, 11, 14, 11, 3, 14, 6, 5, 9, 6, 6,12 ]
        var xAxe = [];
        var yAxe = [];
        var yAxe2 = [];
        var yAxePulso = [];
        var residualTemp = [];
        var delay = 110;
        var tome = 0;
        var j = 0;
        for(i=0; i<guardado.length;i++){
          if(tome == delay){
            xAxe.push(Math.round(guardado[i][0]));
            yAxe.push(guardado[i][1]);
            yAxe2.push(guardado2[i][1]);
            yAxePulso.push(guardado[i][2]);
            residualTemp.push(residualLocal[j]);
            j++;
            tome = 0;
          }
          tome++;
        }

        $('[data-toggle="tooltip"]').tooltip();
        var ctx = document.getElementById("prueba");
        var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: xAxe,
            datasets: [
              {
                data: yAxe,
                label: "Humanos Infectados(Runge Kutta 4)",
                borderColor: "#3e95cd",
                fill: false
              },{
                data: yAxe2,
                label: "Humanos Infectados(Bogacki Shampine)",
                borderColor: "#330066",
                fill: false
              },{
                data: yAxePulso,
                label: "Control por fumigación",
                borderColor: "#8e5ea2",
                fill: false
              }, {
                data: residualTemp,
                label: "Datos reales",
                borderColor: "#99A3A4",
                fill: false
              }
            ],
          },
          options: {
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false
                },
                ticks: {
                  maxTicksLimit: 7
                }
              }],
              yAxes: [{
                ticks: {
                  min: 0,
                  max: 70,
                  maxTicksLimit: 5
                },
                gridLines: {
                  color: "rgba(0, 0, 0, .125)",
                }
              }],
            },
            legend: {
              display: true
            }
          }
        });

      }
      $(document).ready(function () {
            graficar();
      });
  </script>
  <style>
    .content-wrapper {
      margin-left: 0px;
    }

    .container-fluid {
      padding-right: 140px;
      padding-left: 140px;
    }
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Modelo de propagación del dengue en Bello</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" id="titulo"></li>
      </ol>

      <div class="row">
        <div class="col-lg-12">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> Parámetros del modelo</div>
            <div class="card-body">
              <form action="" method="POST" class="form-horizontal"> {% csrf_token %}
                <div class="form-group row">
                  <label for="title" class="control-label col-lg-1 col-sm-1">A
                    <sub>c</sub> = </label>
                  <div class="col-lg-4 col-sm-4">
                    <input type="text" name="inputAc" class="form-control" value="6" >
                  </div>
                  <label for="title" class="control-label col-lg-1 col-sm-1">t
                    <sub>0c</sub> = </label>
                  <div class="col-lg-4 col-sm-4">
                    <input type="text" name="inputT0" class="form-control" value="33" data-toggle="tooltip" data-placement="right"
                      title="Tiempo inicial del pulso de control">
                  </div>

                </div>
                <div class="form-group row">
                  <label for="title" class="control-label col-lg-1 col-sm-1">&Delta;t
                    <sub>c</sub> = </label>
                  <div class="col-lg-4 col-sm-4">
                    <input type="text" name="inputDeltaA"  class="form-control" value="8.5" data-toggle="tooltip" data-placement="right"
                      title="Ancho del pulso de control">
                  </div>

                  <button data-toggle="collapse" data-target="#demo" class="col-lg-2 col-sm-2 btn btn-primary">Opciones avanzadas</button>
                  <div class="col-lg-1 col-sm-1">

                  </div>
                  <input type="submit" value="Ejecutar" class="col-lg-2 col-md-2 col-sm-2 btn btn-primary"/>

                </div>

                <br>
                <div id="demo" class="collapse">
                  <br>

                  <div class="form-group row">
                    <label for="e" class="control-label col-lg-1 col-sm-1">E = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="huevos" id="e" class="form-control" value="10000.0" data-toggle="tooltip" data-placement="right" title="Número de huevos">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">L = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="larvas" id="title" class="form-control" value="4000.0" data-toggle="tooltip" data-placement="right"
                        title="Número de larvas">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">P = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="pupas" id="title" class="form-control" value="10000.0" data-toggle="tooltip" data-placement="right"
                        title="Número de pupas">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">M
                      <sub>s</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="mosquitosSuceptibles" id="title" class="form-control" value="1600000.0" data-toggle="tooltip" data-placement="right"
                        title="Número de mosquitos susceptibles de transmitir el virus">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">M
                      <sub>e</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="mosquitosExpuestos" id="title" class="form-control" value="600.0" data-toggle="tooltip" data-placement="right"
                        title="Número de mosquitos expuestos(infectados pero no infecciosos)">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">M
                      <sub>i</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="mosquitosInfectados" id="title" class="form-control" value="0.0" data-toggle="tooltip" data-placement="right"
                        title="Número de mosquitos infecciosos">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">H
                      <sub>s</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="humanosSuceptibles" id="title" class="form-control" value="250000.0" data-toggle="tooltip" data-placement="right"
                        title="Número de humanos susceptibles de contraer el virus">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">H
                      <sub>e</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="humanosExpuestos" id="title" class="form-control" value="2.0" data-toggle="tooltip" data-placement="right"
                        title="Número de humanos expuestos(infectados pero no infecciosos)">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">H
                      <sub>i</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="humanosInfectados" id="title" class="form-control" value="8.0" data-toggle="tooltip" data-placement="right" title="Número de humanos infectados e infecciosos">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">H
                      <sub>r</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="humanosRecuperados" id="title" class="form-control" value="0.0" data-toggle="tooltip" data-placement="right" title="Número de humanos recuperados">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&delta; = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="220.0034" data-toggle="tooltip" data-placement="right"
                        title="Tasa de ovisposión por mosquito">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">C = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="218442.2815" data-toggle="tooltip" data-placement="right"
                        title="Capacidad total de huevos">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&gamma;
                      <sub>e</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="1.3171" data-toggle="tooltip" data-placement="right"
                        title="Tasa de transformación de huevo a larva (indicativo del efecto del control mecánico)">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&mu;
                      <sub>e</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.20931" data-toggle="tooltip" data-placement="right"
                        title="Tasa de mortalidad de huevos">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&gamma;
                      <sub>l</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="1.0009" data-toggle="tooltip" data-placement="right"
                        title="Tasa de transformación de larva a pupa">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&mu;
                      <sub>l</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.16817" data-toggle="tooltip" data-placement="right"
                        title="Tasa de mortalidad de larvas">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&gamma;
                      <sub>p</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="4.0069" data-toggle="tooltip" data-placement="right"
                        title="Tasa de eclosión de pupa a mosquito">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&mu;
                      <sub>p</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.26692" data-toggle="tooltip" data-placement="right"
                        title="Tasa de mortalidad de pupas">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&#402; = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.4126" data-toggle="tooltip" data-placement="right"
                        title="Fracción de hembras que emergen de todos los huevos">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&beta;
                      <sub>m</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.16386" data-toggle="tooltip" data-placement="right"
                        title="Tasa de contacto efectiva (o coeficiente de transmisión humano-mosquito)">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&mu;
                      <sub>m</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.045542" data-toggle="tooltip" data-placement="right"
                        title="Tasa de mortalidad de mosquitos">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&theta;
                      <sub>m</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.2006" data-toggle="tooltip" data-placement="right"
                        title="Tasa de incubación extrínseca (en el tiempo &theta;^-1sub(m) se vuelve infeccioso)">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&mu;
                      <sub>h</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.000388" data-toggle="tooltip" data-placement="right"
                        title="Tasa de mortalidad de humanos">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&beta;
                      <sub>h</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.12915" data-toggle="tooltip" data-placement="right"
                        title="Tasa de contacto efectiva (o coeficiente de transmisión mosquito-humano)">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="title" class="control-label col-lg-1 col-sm-1">&theta;
                      <sub>h</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.20739" data-toggle="tooltip" data-placement="right"
                        title="Tasa de incubacion intrínseca (en el tiempo &tetha; se evidencian los síntomas de la enfermedad)">
                    </div>
                    <label for="title" class="control-label col-lg-1 col-sm-1">&gamma;
                      <sub>h</sub> = </label>
                    <div class="col-lg-4 col-sm-4">
                      <input type="text" name="title" id="title" class="form-control" value="0.28687" data-toggle="tooltip" data-placement="right"
                        title="Tasa de recuperación">
                    </div>
                  </div>


                  <div class="form-group row">
                    <button class="col-lg-2 col-md-4 col-sm-6 btn btn-primary">Run</button>
                  </div>

              </form>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

          <!-- /Card Columns-->
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Gráfica</div>
        <div class="card-body">
          <canvas id="prueba" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <!-- <script src="{% static 'js/sb-admin.js' %}"></script> -->
    <!-- Custom scripts for this page-->
    <!-- <script src="{% static 'js/sb-admin-datatables.js' %}"></script>
    <script src="{% static 'js/sb-admin-charts.js' %}"></script> -->
  </div>
</body>

</html>
